spring.application.name=student.management

spring.datasource.url=${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:3306/StudentManagement}
spring.datasource.username=${SPRING_DATASOURCE_USERNAME:your_username}
spring.datasource.password=${SPRING_DATASOURCE_PASSWORD:your_password}
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

# MyBatisの設定
mybatis.configuration.map-underscore-to-camel-case=true
spring.jpa.open-in-view=false
mybatis.mapper-locations=classpath*:/mapper/*.xml