<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>受講生情報更新</title>
</head>
<body>
<h1>受講生情報更新</h1>
<form th:action="@{/updateStudent}" th:object="${studentDetail}" th:method="post">
  <div>
    <label for="id">ID:</label>
    <input type="text" id="id" th:field="*{student.id}" required/>
  </div>
  <div>
    <label for="name">名前:</label>
    <input type="text" id="name" th:field="*{student.name}" required/>
  </div>
  <div>
    <label for="nameKana">フリガナ:</label>
    <input type="text" id="nameKana" th:field="*{student.nameKana}" required/>
  </div>
  <div>
    <label for="nickname">ニックネーム:</label>
    <input type="text" id="nickname" th:field="*{student.nickname}">
  </div>
  <div>
    <label for="age">年齢:</label>
    <input type="number" id="age" th:field="*{student.age}" required/>
  </div>
  <div>
    <label for="gender">性別:</label>
    <select id="gender" th:field="*{student.gender}" required>
      <option value="">選択してください</option>
      <option value="male">男性</option>
      <option value="female">女性</option>
      <option value="other">その他</option>
    </select>
  </div>
  <div>
    <label for="placeOfResidence">地域:</label>
    <input type="text" id="placeOfResidence" th:field="*{student.placeOfResidence}">
  </div>
  <div>
    <label for="email">メールアドレス:</label>
    <input type="email" id="email" th:field="*{student.email}" required/>
  </div>
  <div>
    <label for="remark">備考:</label>
    <input type="text" id="remark" th:field="*{student.remark}">
  </div>
  <div>
    <label for="isDeleted">キャンセル:</label>
    <input type="checkbox" id="isDeleted" th:field="*{student.deleted}">
  </div>
  <div th:each="course, stat : *{studentsCourses}">
    <input type="hidden" th:field="*{studentsCourses[__${stat.index}__].id}" />
    <label for="courseName" th:for="studentsCourses[__${stat.index}__].courseName">受講コース名：</label>
    <select id="courseName" th:id="studentCourse.__${stat.index}__.courseName" th:field="*{studentsCourses[__${stat.index}__].courseName}">
      <option value="">選択してください</option>
      <option value="Javaフルコース">Javaフルコース</option>
      <option value="AWS基礎コース">AWS基礎コース</option>
      <option value="Web開発コース">Web開発コース</option>
    </select>
  </div>
  <div>
    <button type="submit">更新</button>
  </div>
</form>
</body>
</html>